<div class="container pt-5">
  <div class="row justify-content-center">
    <form #f="ngForm" (ngSubmit)="onAddTask(f)" class="form-inline">
      <div class="form-group">
        <label for="name">Task</label>
        <input class="form-control" type="text" id="name" name="name" required ngModel>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" id="priority" name="priority" ngModel>
          <option *ngFor="let pr of getPrioritiesArray()" [value]="pr">{{pr}}</option>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-success" [disabled]="f.invalid">Add</button>
      </div>
    </form>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <thead>
      <tr>
        <th style="width:50%;" scope="col" (click)="sortTodos('name')">Task name</th>
        <th style="width:25%;" scope="col" (click)="sortTodos('priority')">Priority</th>
        <th style="width:25%;" scope="col">Done</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let td of todos | paginate: {itemsPerPage: 5, currentPage: currentPage}; let i = index ">
        <td>{{td.name}}</td>
        <td>{{td.priority}}</td>
        <td>
          <label for="done"></label>
          <input type="checkbox" class="pointer" name="done" id="done">
        </td>
        <td><i class="fa fa-trash fa-1x pointer" (click)="onDeleteTask(i)"></i></td>
      </tr>
      </tbody>
    </table>
    <span>Rows per page: 5</span>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
